<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="logDirectory" value="${basedir}/acuity_update_logs"/>
  <targets>
    <target name="logerror" xsi:type="File" fileName="${logDirectory}/error/error_log_${shortdate}.txt" layout="${newline}${longdate}|${level}| ${message}"/>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/info/info_log_${shortdate}.txt" layout="${newline}${longdate}|${level}| ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="logerror" />
    <logger name="*" minlevel="Info" writeTo="logfile"></logger>
  </rules>
</nlog>